#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.customizePetHeader {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.choosePetLabel {
  position: fixed;
  top: 150px;
  left: 25%;
  transform: translate(-50%, -50%);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
}

.catButton {
  position: fixed;
  top: 400px;
  left: 13%;
  transform: translate(-50%, -50%);
  background-color: rgb(56, 101, 135);
  border: black solid 1px;
  color: black;
  font-size: 40px;
  width: 300px;
  height: 250px;
}

.catButton:hover {
  background-color: lightblue;
  border: black solid 3px;
}

.catButton:focus {
  border: black solid 5px;
}

.dogButton {
  position: fixed;
  top: 400px;
  left: 37%;
  transform: translate(-50%, -50%);
  background-color: orange;
  border: black solid 1px;
  color: black;
  font-size: 40px;
  width: 300px;
  height: 250px;
}

.dogButton:hover {
  background-color: lightyellow;
  border: black solid 3px;
}

.dogButton:focus {
  border: black solid 5px;
}

.petNameLabel {
  position: fixed;
  top: 150px;
  left: 75%;
  transform: translate(-50%, -50%);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
}

.petNameText {
  position: fixed;
  top: 350px;
  left: 75%;
  transform: translate(-50%, -50%);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  background-color: white;
  border: black solid 2px;
  color: black;
  width: 400px;
  height: 45px;
}

.startGame {
  position: fixed;
  top: 700px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightgreen;
  border: black solid 2px;
  color: black;
  width: 400px;
  height: 100px;
  font-size: 50px;
  justify-content: center;
  align-items: center;
}

.startGame:hover {
  background-color: rgb(194, 255, 194);
  border: black solid 3px;
}

.petTypeSection {
  position: fixed;
  top: 360px;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 480px;
  background-color: aqua;
  border: black solid 2px;
  border-radius: 75px;
}

.petNameSection {
  position: fixed;
  top: 360px;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 480px;
  background-color: aqua;
  border: black solid 2px;
  border-radius: 75px;
}

.dashboardIdle {
  position: absolute;
  top: 100px;
  left: 100px;
}

.dashboardWelcome {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
}